.main-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 5vh;

   .buttons {
    margin: 10px;
    width: 100%;
  }
}

.main-header {
  text-decoration: none;
  .nvlo-link{

  }
}
.product-item {
  display: flex;
  flex-direction: row;

  width: 100%;


}
.inventory-shell{

}
.product-bundle {
  width: 80vw;
}
