.main-container {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 0;

    .buttons {
        margin: 10px;
        width: 100%;
    }
}

.main-header {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;

    .nvlo-link {
        color: white;
        text-decoration: none;
        margin-bottom: 0;
    }
}

.product-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
}

.new-item {}

.inventory-shell {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.product-bundle {
    width: 80vw;
}
