.main-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;

   .buttons {
    margin: 10px;
    width: 100%;
  }
}

.main-header {
  text-decoration: none;
  .nvlo-link{
    
  }
}
